#mainAbout {
    height: 350px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/about-us/about.jpg');
}

 .Heading{
text-align: center;
color: #d10000;
}
.Heading h1{
    font-weight: 300;
    font-size: 70px;
}
.aboutContent {
    background-color: #dc3b3b;
    text-align: center;
    color: #fff;
    padding: 20px 20px;
}
.aboutContent h1{
    text-align: center;
    color: #d10000;
}

.aboutBanner p{
    line-height: 2;
}
/* ThreePart Section */
.FirstPart{
    text-align: center;
}
.FirstPart img{
    width: 100px;
}
.FirstPart p{
    line-height: 2;
    padding: 15px;
}

/* ThreePart Section */
/* Location Part Section */
.location{
    padding: 20px;
    background-color: #dc3b3b;
}

.location img{
    width: 50%;
}
/* Location Part Section */
/* AboutBottle Part section */
.AboutBottle{
    margin-top: 50px;
    text-align: center;
}
.AboutBottle h1{
    color: #d10000;
    font-weight: 300;
    font-size: 50px;
}
.bottleOutside{
    padding: 40px;
}
.bottleOutside h3{
    color: #d10000;
}
.bottleOutside p{
    font-size: x-large;
    text-align: center;
    color: #d10000;
    font-weight: 500;
}
.bottleOutside img{
    width: 100px;
}
/* AboutBottle Part section */
