
    /* Allbeers Page css */
        /* section#beersContent */
        #beersContent {
            width: 80%;
            margin: auto;
            margin-top: 120px;
        }
        #outline:hover{
            border: 1px solid black;
        }
    
        /* SideBar Part */
            .sideBar img{
                width: 200px;
                text-align: center;
            }
            .sideBar h5{
                color:#d10000;
            }
            /* .cardBackground{
                text-align: left;
                border-bottom: 1px solid #d10000 !important;
            } */
            
            .cardBackground button,
            .cardBackground button a:hover{
                color: #d10000;
                text-decoration: none !important;
            }
            .categoryBtnOne {
                color: #d10000 !important;
                font-size: 15px !important;
                font-weight: 500 !important;
                border-radius: 0px !important;
                padding: 15px 10px 10px 20px !important;
                margin-bottom: 0px;
                border: 1px;
                background: #fff;
                text-align: left;
            }
            .categoryBtnOne:hover{
                text-decoration: none !important;
            }
            
            .categoryBtnOne:focus {
                text-decoration: none !important;
                box-shadow: 0 7px 0px -4px #33cc33 !important;
            }
        
            .categoryArrow {
                float: right !important;
            }
            .subCategory {
                list-style: none;
                text-align: left;
                line-height: 32px;
                border-left: 1px solid #988b8b5c;
                padding: 0px 0px 0px 15px;
                margin: 0px 0px 0px 12px;
            }
            .subCategory-list a{
                color: #d10000 !important;
                text-decoration: none;
                
            }
            /* .singleProductCate {
                padding: 15px 0px;
                list-style: none;
                position: absolute;
                left: -115px;
                top: 6px;
                width: 117px;
                margin: 0px;
                border-radius: 10px;
            } */
            .singleProductCate li img {
                width: 65px;
                /* padding: 5px; */
            }
        /* SideBar Part */
        /* <!-- Main Product Category Part --> */
                /*PaginationButton */
                    .paginationButton{
                        padding-bottom: 20px;
                        width: 200px;
                        margin: auto;
                        padding-top: 20px;
                    }
                    .paginationButton ul li a {
                        color: #d10000;
                        border: 1px solid #4ba938;
                    }
                    .paginationButton ul li a:hover{
                        color: #4ba938;
                        border: 1px solid #d10000;
                    }
                /*PaginationButton */

                /* Page Title */
                .PageTitle {
                    text-align: center;
                    color: #d10000;
                    margin-top: 30px;
                }
                /* Page Title */

                /* SingleOutline */
                .SingleOutline {
                    border-radius: 10px;
                    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
                }
                    .SingleOutline:hover{
                        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
                    }
                /* SingleOutline */
                .brandImages {
                    float: right;
                    top: -6px;
                    left: 10px;
                    position: relative;
                }

                /* .productImage {
                    width: 100px;
                } */

                .boxRightSide {
                    /* text-align: left; */
                    font-size: 9px;
                    list-style: none;
                }
                .boxRightSide a{
                    color: #000;
                    font-weight: 500;
                    text-decoration: none;
                }
                .boxRightSide a:hover{
                    color: #d10000;
                    text-decoration: none;
                }
                .PlusMinus {
                    width: 130px;
                    display: flex;
                }
                .PlusMinus input.form-control {
                    margin: 0px 5px 0px 5px !important;
                    padding: 0px;
                }
                .categoryProductPrice {
                    font-size: 1.2em;
                    font-weight: 700;
                    color: #d10000;
                    line-height: 2;
                    text-align: right;
                    padding-left: 37px;
                }
                .Pfand {
                    
                    padding-left: 37px;
                }
                

                /* Add to cart Increment / Decrement button */

                  
                /* Add to cart Increment / Decrement button */
                /* Compare Button && WishList Button */
                    a.Compare,
                    a.Wishlist{
                        color: #d10000;
                    }
                    a.Compare:hover,
                    a.Wishlist:hover{
                        color: #33cc33;
                    }
                /* Compare Button && WishList Button */

            /* Bottom Text Brand Name Product Name */
            .brandName{
                font-size: 13px;
                color: #d10000 !important;
                font-weight: 700!important;
                text-decoration: none;
            }
            .brandName:hover, .productName:hover {
                color: #6c757d !important;
                /* text-decoration: none; */
            }
                .itemBrandMax {
                    height: 90%;
                    background-color: white;
                    z-index: 999;
                    display: none;
                    /* border-radius: 20px; */
                    padding-top: 25px;
                }
                .brandImages{
                    width: 30px;
                }
                .PlusMinus{
                    width: 80px;
                }
                .input-group-prepend button,
                .input-group-append button{
                    font-size: 8px!important;
                    width: 15px !important;
                    height: 17px !important;
                }
                
        /* <!-- Main Product Category Part --> */
        
    /* section#beersContent */

   
/* Allbeers Page css */
#hide {
    display: none;
  }
      
  .myDIV:hover #hide {
    display: block;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}


@media only screen and (min-width: 1200px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    } 
    
    .brandImages{
        width: 30px;
        height: 25px;
    }
    .PlusMinus {
        width: 100px;
    }
    .input-group-prepend button, .input-group-append button {
        font-size: 10px !important;
        border-radius: 0;
        min-width: 0px!important;
        width: 20px !important;
        height: 26px !important;
    }
    .categoryProductPrice {
        padding-left: 0px;
        font-size: 10px;
    }
    .Pfand {
        padding-left: 5px;
    }
    .singleProductCate li img {
        width: 59px;
        padding: 7px;
    }
    

}

/* .links:hover{
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
} */