.MainContact{
    margin-top: 77px;
    padding-top: 85px;
    color: #d10000;
}
.MainContact h2{
    margin-bottom: 20px;
    text-align: center;
}

.ContactLeft {
    width: 80%;
    margin: auto;
}
.formBorder{
    border-radius: 15px 15px 15px 15px !important;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    color: #d10000 !important;
    font-weight: 600 !important;
}
input#exampleInputName1,
input#exampleFormControlInput1,
textarea#exampleFormControlTextarea1{
    width: 450px!important;
    margin: auto !important;
}
.ContactSubmit {
    margin: 15px 15px 0px;
    background: #d10000 !important;
    border: 0;
    padding: 10px;
}
.map{
    text-align: center;
}
.contactInfo{
    list-style: none;
}
.contactInfo li {
    border-bottom: 3px dotted #29ce29;
    font-size: 25px;
}
.contactInfo i{
    padding: 15px;
}
.contactInfo li span{
    color: #29ce29;
}