
/* Delivery and Time */
    #DeliveryAndTime {
        margin-top: 145px;
    }

    /* PDF Button */
    #PDFbutton {
        border: 0;
        background: #fff;
        border: 1px solid #d10000;
        color: #d10000;
        font-weight: 600;
        font-size: 15px;
        padding: 10px;
    }
    
    /* PDF Button */
/* Delivery and Time */
