#SingleProduct {
    padding-top: 160px;
}
.SingleProductDescription{
    max-height: 550px;
    background-image: linear-gradient( 
90deg
 , rgb(204, 204, 204), rgb(255, 255, 255));
    padding: 12px;
}
#DescriptionTabs{
    margin-top: 12px;
}
.SingleProduct,
#DescriptionTabs{
    background-image: url("images/mani-page-bg/lined-paper-2.png");
}

.SingleProductRightSide{
    text-align: right;
}
.SingleProductRight ul li,
.SingleProductRightSide ul li{
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    color: #d10000;
}
.SingleProductRight ul li h2,
.SingleProductRightSide ul li a{
    color: #d10000;
    list-style: none;
    line-height: 30px;
    text-decoration: none;
    font-weight: 700;
    padding-top: 5px;
}
.singleProductIcons,
.bottomSmallImg{
    list-style: none;
    display: inline-flex;
}

.bottomSmallImg img{
    max-width: 120px;
    padding: 10px;
}
/* ul.singleProductIcons {
    padding-left: 50px;
} */
.singleProductIcons img {
    max-width: 90px;
    padding: 10px;
}
/*Increment Button Style for Single Product page */
.plusminusSingleProduct {
    position: sticky;
}

.plusminusSingleProduct button.btn-increment:hover,
.plusminusSingleProduct button.btn-decrement:hover{
    color: #fff !important;
    background-color: #d10000 !important;
}
.plusminusSingleProduct button.btn-decrement{
    color: #d10000 !important;
    background-color: #fff !important;
    min-width: 30px !important;
    height: 40px !important;
    border: 1px solid #d10000!important;
    border-radius: 20px 0px 0px 20px;
}
button.btn-decrement strong{
    padding: 12px;
}
.plusminusSingleProduct button.btn-increment{
    color: #d10000 !important;
    background-color: #fff !important;
    min-width: 30px !important;
    height: 40px !important;
    border: 1px solid #d10000!important;
    border-radius: 0px 20px 20px 0px;

}

/* add to cart part on singleProduct */
.singleproductcartBasket{
    color: #fff;
    background: #d10000;
    border: 0;
    margin: 15px 0px 15px 0px;
    padding: 20px 16px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.33333;
    border-radius: 6px;
}
.singleproductcartBasket:hover{
    background-color: #800101;
}
/* add to cart part on singleProduct */
/*Increment Button Style for Single Product page */


#myTab {
    width: 77%;
    margin: 0 auto;
}
#myTabContent{
    width: 70%;
    margin: auto;
}
/* #DescriptionTabs{
    padding-top: 25px;
    width: 50%;
    margin: auto;
} */
#DescriptionTabs ul li button{
    padding: 1em 2.2em;
}

#ITEM,
#INGREDIENTS,
#MANUFACTURER,
#ADDITIONAL{
    color: #777777;
}
#ADDITIONAL a{
    color: #d10000;
    text-decoration: none;
}
/* zoom Part */


/* zoom Part */
@media only screen and (min-width: 1200px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    } 

    .boxRightSide {
        font-size: 9px;
    }
    
    .brandImages{
        width: 30px;
        height: 25px;
    }
    .PlusMinus {
        width: 100px;
    }
    .input-group-prepend button, .input-group-append button {
        font-size: 10px !important;
        border-radius: 0;
        min-width: 0px!important;
        width: 20px !important;
        height: 26px !important;
    }
    .categoryProductPrice {
        padding-left: 0px;
        font-size: 10px;
    }
    .Pfand {
        padding-left: 5px;
    }
    

}